@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Pokemon-GB';
    src: url('@/assets/fonts/PokemonGb.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
}
